<h1>Search for Cloudinary Images</h1>

<%= form_tag '/cloud' do %>
	<p>Enter
  <%= label_tag :tag %>
  <%= text_field_tag :tag %></p>
 
	<%= submit_tag "Search!" %>
<% end %>

<h2><%= @req if @req %></h2>

<div>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @images %>
    <ul>
    <% @images.each do |image| %>
      <li>
        <%= image %><br>
 
				<%#= link_to "Get image details", image_details_path(image["id"]), :method => "get" %>
		 
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
 