<h1>Search for Coffee Shops Near Me</h1>
<%= form_tag '/search' do %>
  <%= label_tag :zipcode %>
  <%= text_field_tag :zipcode %>
  <%= submit_tag "Search!" %>
<% end %>

<div>
  <% if @errors %>
    <%= @error %>
  <% else %>

    <ul>
    <% @venues.each do |venue| %>
      <li>
        <h5><%= venue['name'] %></h5>
        <% venue['location']['formattedAddress'].each do |address_line| %>
          <%= address_line %>
        <% end %>

        <h5>Checkins: <%= venue['stats']['checkinsCount'] %></h5>
      </li>
    <% end %>
    </ul>   

  <% end %>
</div>