<h1>Search for Coffee Shops Near Me</h1>

<%= form_tag '/search' do %>
	<p>Enter
  <%= label_tag :zipcode %>
  <%= text_field_tag :zipcode %></p>

	<p>Enter 
	<%= label_tag :query %>
  <%= text_field_tag :query %></p>

	<%= submit_tag "Search!" %>
<% end %>


<div>
  <% if @error %>
    <p><%= @error %></p>
  <% elsif @venues %>
    <ul>
    <% @venues.each do |venue| %>
      <li>
        <%= venue["name"] %><br>
        <%= venue["location"]["address"] %><br>
        <%= venue["location"]["city"] %>, <%= venue["location"]["state"] %> <%= venue["location"]["postalCode"] %><br> Contact: <%= venue["contact"]["formattedPhone"] %><br>
				Checkins: <%= venue["stats"]["checkinsCount"] %>
				<br/>
				<%= link_to "Get venue details", venue_details_path(venue["id"]), :method => "get" %>
				<hr />
				<br/>
				<%= link_to "Get venue photos", venue_photos_path(venue["id"]), :method => "get"  %>
				<hr />
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
<hr />

<div>
  <% if @venue_details %>
			<%= render partial: 'details', locals: {venue_details: @venue_details} %>
  <% end %>
</div>
<hr />

<div>
  <% if @venue_photos %>
			<%= render partial: 'photos', locals: {venue_photos: @venue_photos} %>
  <% end %>
</div>
 