<h1>Search for Coffee Shops Near Me</h1>
<%= form_tag '/search' do %>
  <%= label_tag :zipcode %>
  <%= text_field_tag :zipcode %>
  <%= submit_tag "Search!" %>
<% end %>

<div>
  <% if @error %>
    <p> <%= @error %> </p>
  <% elsif @venues %>
    <ul>
    <% @venues.each do |venue| %>
      <h2> <%= venue["name"] %> </h2>
      <li>
        <%= venue["location"]["address"] %><br>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>